<%= form_for :session, url: session_path, remote: true do |form| %>
  <div class="text-field">
    <%= form.text_field :email, type: 'email', placeholder: "email"  %>
  </div>
  <div class="password-field">
    <%= form.password_field :password , placeholder: "password" %>
  </div>
  <div class="submit-field">
    <%= form.submit class: 'btn' %>
  </div>
  <br>
  <div class="other-links">
    <a href="/auth/facebook"><button class="btn btn-primary">Sign in with Facebook</button></a><br>
    <% if Clearance.configuration.allow_sign_up? %>
      new user?
      <%= link_to "create new account", sign_up_path %><br>
    <% end %>
    forgot your password?
    <%= link_to "click here", new_password_path %>
  </div>
<% end %>