<% if @mood.emotion == "happy" %>
<% mood = "amazing" %>
  <div id="happy" class="background">
  <% elsif @mood.emotion == "sad" %>
<% mood = "saddening" %>
    <div id="sad" class="background">
    <% elsif @mood.emotion == "anger" %>
<% mood = "fuming" %>
      <div id="anger" class="background">
      <% elsif @mood.emotion == "fear" %>
<% mood = "thrilling" %>
        <div id="fear" class="background">
        <% end %>
        <div class="container-fluid">
          <h1 style="text-align: center;"><%= mood.upcase %>
          <% if signed_in? && current_user.status == 1 %>
          <button data-toggle="modal" data-target="#addModal">ADD</button></h1>
          <% else %>
          </h1>
          <% end %>
          <div class="col-md-9" id="leftDiv">
            <% if @contents != [] %>
              <a href="/redirect/<%= @contents.first.id%>" target='_blank'>
                <div class="well abc" style="padding: 0">
                  <% if @mood.emotion == "happy" %>
                  <%= image_tag "happy.jpg", id: "topImg", style: "width: 100%;" %>
                  <% elsif @mood.emotion == "sad" %>
                  <%= image_tag "sad.jpg", id: "topImg", style: "width: 100%;" %>
                  <% elsif @mood.emotion == "fear" %>
                  <%= image_tag "fear.jpg", id: "topImg", style: "width: 100%;" %>
                  <% elsif @mood.emotion == "anger" %>
                  <%= image_tag "anger.jpg", id: "topImg", style: "width: 100%;" %>
                  <% end %>
                  <h2><b style="padding-left: 20px"><%= @contents.first.subject %></b></h2>
                </div>
              </a>
            <% end %>
            <!--  -->
            <div class="col-md-3">
            <% if signed_in? %>
              <a href="/stories/new"><div class="sharestory row">SHARE YOUR STORY</div></a>
              <% else %>
              <a data-toggle="modal" data-target="#loginModal"><div class="sharestory row">SHARE YOUR STORY</div></a>
              <% end %>
              <% if @stories == [] %>
              <p style="margin-top: 5px; color: grey;">no stories yet</p>
              <% else %>
              <div class="row well abc allstories">
              <% @stories.where(status: "verified").each do |s| %>
                <div class="well row">
                  <%= link_to s.title, story_path(s) %>
                </div>
              <% end %>
              </div>
              <% end %>
            </div>
            <!--  -->
            <!-- content div -->
            <% if @contents != [] %>
              <div class="col-md-9 well abc">
                <p id="contentLength" style="display: none"><%= @contents.pluck(:id) %></p>
                <% @contents.each do |c| %>
                  <div class="well row" style="padding: 0;">
                    <!--  -->
                    <!--  -->
                    <!--  -->
                    <!--  -->
                    <div class='col-md-2' style="padding: 0 0 5px 0;">
                      <img src="<%=c.photo%>" style="width: 100%; height: 100%;">
                    </div>
                    <div class='col-md-10' style="padding-top: 15px;">
                      <b><%= link_to c.subject, redirect_path(c.id), target: :_blank %></b><br>
                      <a class="commentBtn" id="commentBtn<%= c.id %>"><i class="fa fa-comment" aria-hidden="true">&nbsp;<b>Comments</b></i> <span class="badge"><%= Comment.where(content_id: c.id).length %></span></a>
                      <div id="showComment<%= c.id %>" >
                        <% Comment.where(content_id: c.id).each do |comment| %>
                          <p><b><%= User.find(comment.user_id).username %></b>&ensp;<%= comment.text %></p>
                        <% end %>
                        <% if signed_in? %>
                          <%= form_for @comment do |form| %>
                            <%= form.text_field :text, type: 'text', placeholder: 'comment here', required: true, id: "logoutComment" %>
                            <%= form.hidden_field :user_id, value: current_user.id %>
                            <%= form.hidden_field :content_id, value: c.id %>
                            <%= form.hidden_field :mood, value: @mood.id %>
                          <% end %>
                        <% else %>
                          <div id="logoutComment" data-toggle="modal" data-target="#loginModal">comment here</div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <!--  -->
                  <!--  -->
                  <!--  -->
                  <!--  -->
                  <!--  -->
                  <!--  -->
                  <!--  -->
                  <!--  -->
                <% end %>
              </div>
            <% end %>
            <!--  -->
          </div>
          <!--  -->
          <!--  -->
          <div class="col-md-3">
            <!-- <div class="row">
              <a href="/stories/new"><button>ADD STORY</button></a>share your stories
            </div> -->
            <!-- chat div -->
            <div class="chatbox row">
              <div class="row well livechat">Live Chat</div>
              <div class="chatlogs row">
                <div id="chat_<%= @mood.id %>">
                  <%= render @messages.where(mood_id: @mood.id) %>
                </div>
              </div>
              <% if signed_in? %>
                <%= form_for Message.new, :remote => true do |f| %>
                  <%= f.text_field :content, id: "chat_input", placeholder: " Chat here" %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.hidden_field :mood_id, value: @mood.id %>
                  <%= f.submit "Send", class: "btn btn-primary", style: "float: right;" %>
                <% end %>
                <% else %>
                <input placeholder=" Chat here" id="chat_input" data-toggle="modal" data-target="#loginModal">
              <% end %>
            </div>
            <!--  -->
          </div>
          <!--  -->
          <!--  -->
          <!-- <hr style="clear: both;"> -->
          <!-- <button data-toggle="modal" data-target="#addModal">ADD</button> -->
          <!-- Modal for adding links -->
          <div class="modal fade" id="addModal" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">CREATE</h4>
                </div>
                <div class="modal-body" style="text-align: center;">
                  <%= form_for @content do |form| %>
                    <%= form.text_field :link, type: 'link', placeholder: 'paste url here', required: true %>
                    <%= form.hidden_field :mood_id, value: @mood.id %>
                    <%= radio_button_tag(:categoryx, "news") %>
                    <%= label_tag(:categoryy, "News") %>
                    <%= radio_button_tag(:categoryx, "movie") %>
                    <%= label_tag(:categoryy, "Movies") %>
                    <%= form.submit "ADD", class: 'btn' %>
                  <% end %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <%= render partial: '/welcome/modal' %>
        </div>
      </div>