<div class="text-field">
  <%= form.label :username %>
  <%= form.text_field :username, type: 'username', placeholder: "Username" %>
</div>
<div class="text-field">
  &emsp;&emsp;<%= form.label :email %>
  <%= form.text_field :email, type: 'email', placeholder: "Email" %>
</div>
<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password, placeholder: "Password" %>
</div>