<% @x = ["https://images.unsplash.com/photo-1454678904372-2ca94103eca4?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925","https://images.unsplash.com/photo-1451188502541-13943edb6acb?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925","https://images.unsplash.com/photo-1447877085163-3cce903855cd?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925"] %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<video poster="https://upload.wikimedia.org/wikipedia/commons/2/23/Lake_mapourika_NZ.jpeg" id="bgvid" playsinline autoplay muted loop>
  <source src="http://thenewcode.com/assets/videos/lake.webm" type="video/webm">
  <source src="http://thenewcode.com/assets/videos/lake.mp4" type="video/mp4">
</video>
<div class="container">
  <div class="row ">
    <br>
    <br>
    <div class="col-md-12">
      <% Story.all[0..2].each_with_index do |l, index| %>
        <div>
          <div class="col-md-4">
            <div class="profile-card text-center">
              <img class="img-responsive" src=<%=@x[index]%>>
              <div class="profile-info">
                <h2 class="hvr-underline-from-center"><a href="/redirect/<%= l.id%>" target='_blank' style="color: white;"><%= l.title %></a></h2>
                <!-- <div>Description</div> -->
                <%= social_share_button_tag(@contents) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%if @contents[3..10] != nil%>
    <div class="row">
      <% @contents[3..10].each_with_index do |l, index| %>
        <% if index % 4 == 0 %>
          <hr style="clear: both;">
        <% end %>
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="<%= l.photo %>" style="width: 100%; height: 180px; overflow: hidden; display: block;">
            <div class="caption smallindex">
              <p><a href="/redirect/<%= l.id%>" target='_blank'><%= l.subject %></a></p>
              <%= social_share_button_tag(@contents) %>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  <%end%>
</div>
<% if !signed_in? %>
  <a id="subscribe" data-toggle="modal" data-target="#subscribeModal"></a>
<% end %>
<!-- Modal for payout -->
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
<div class="modal fade" id="subscribeModal" role="dialog">
  <div class="modal-dialog" style="width: 40%; margin-top: 7%;">
    <!-- Modal content-->
    <div class="modal-content" style="background-color: #333; height: 550px; border-radius: 50%;">
      <div class="modal-body" style="color: #ddd; padding: 10px 50px; text-align: center;">
        <button data-dismiss="modal" style="background-color: #333; border: none; color: #444; font-size: 40px;" id="popclose">&times;</button><br>
        <br>
        <h1 style="font-family: 'Abril Fatface'; font-size: 70px;">Rewarding is our thing!</h1>
        <p>Earn while</p>
        <p>browsing &#9679; sharing &#9679; chatting</p>
        <br>
        <h4>Sign Up now and get RM2 cash points for free!</h4>
        <br>
        <button id="popsignup" class="btn btn-default btn-lg" data-toggle="modal" data-target="#signupModal">Sign Up</button>
        <div style="clear: both;"></div>
      </div>
    </div>
  </div>
</div>
<%= render partial: '/welcome/modal' %>
<script>
  $(document).ready(function() {
    setTimeout( function(){
      $('#subscribe').click()
    }  , 5000 );
    $('#popsignup').on('click', function() {
      $('#popclose').click()
    });
  })
</script>