<div id="story_page">
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <div id="story_header">
      <% if signed_in? && current_user.status == 1 %>
        <% if @story.status == "unverified" %>
          <%= form_for @story do |f| %>
            <%= f.submit "VERIFY" %>
          <% end %>
        <% else %>
          <p>VERIFIED</p>
        <% end %>
      <% elsif signed_in? && current_user != User.find(@story.user_id) %>
        <i style="float: right;"><%= social_share_button_tag(@story) %></i>
        <%= form_for Like.new do |f| %>
          <%= f.hidden_field :story_id, value: @story.id %>
          <% if @like == nil %>
            <%= f.submit "LIKE", class: "btn btn-info btn-xs", style: "float: right; margin-right: 5px;" %>
          <% else %>
            <%= f.submit "LIKED", class: "btn btn-primary btn-xs", style: "float: right; margin-right: 5px;" %>
          <% end %>
        <% end %>
      <% elsif signed_in? %>
        <i style="float: right;"><%= social_share_button_tag(@story) %></i>
      <% else %>
        <i style="float: right;"><%= social_share_button_tag(@story) %></i>
        <button class="btn btn-info btn-xs" style="float: right; margin-right: 5px;" data-toggle="modal" data-target="#loginModal">LIKE</button>
      <% end %>
      <h1 id="story_title"><b><%= @story.title.upcase %></b><i style="font-size: 10px;">by
          <% if User.find(@story.user_id) == current_user %>
            you
            <% if @story.status == "unverified" %>
              <h2 style="color: red;"><i>PENDING VERIFICATION</i></h2>
            <% end %>
          <% else %>
            <%= User.find(@story.user_id).username %>
          <% end %></i></h1>
    </div>
    <div id="story_body">
      <%=raw @story.contents %>
    </div>
  </div>
  <div class="col-md-2 well sideStory">
    <% if signed_in? && current_user.id == @story.user_id %>
      <b>All your stories</b>
    <% else %>
      <b>All stories by <%= User.find(@story.user_id).username %></b>
    <% end %>
    <% if signed_in? && current_user.status != 1 %>
      <div class="row" style="text-align: right;"><a href="/stories/new">share your story</a></div>
    <% end %>
    <% if signed_in? && (current_user.status == 1 || current_user.id == @story.user_id) %>
      <% stories = Story.where(user_id: @story.user_id) %>
    <% else %>
      <% stories = Story.where(user_id: @story.user_id).where(status: "verified") %>
    <% end %>
    <% stories.each do |s| %>
      <a href="/stories/<%= s.id %>">
        <div class="row well">
          <%= s.title.upcase %>
          <% if signed_in? && (current_user.status == 1 || current_user.id == @story.user_id) %>
            - <i style="color: red;"><%= s.status %></i>
          <% end %>
        </div>
      </a>
    <% end %>
  </div>
  <%= render partial: '/welcome/modal' %>
</div>