<!DOCTYPE html>
<html>
  <head>
    <title>Felen</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Dosis:600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script type="text/javascript" src="http://localhost:9292/faye.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blueprint: Slide and Push Menus" />
    <meta name="keywords" content="sliding menu, pushing menu, navigation, responsive, menu, css, jquery" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <meta name="author" content="www.twitter.com/cheeriottis">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href=“https://fonts.googleapis.com/css?family=Raleway” rel=“stylesheet”>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
  </head>
  <body class="cbp-spmenu-push">
    <% %w(happy sad anger fear).each do |emotion| %>
      <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-<%= emotion %>">
        <div class="menu-header">
          <div align="center">
            <p style="margin-bottom: 100px;"></p>
            <%= link_to "All", content_path(:categoryx => nil, :id => Mood.find_by(emotion: emotion).id) %>
            <%= link_to "News", content_path(:categoryx => "news", :id => Mood.find_by(emotion: emotion).id) %>
            <%= link_to "Movies", content_path(:categoryx => "movie", :id => Mood.find_by(emotion: emotion).id) %>
            <%= link_to "Videos", content_path(:categoryx => "video", :id => Mood.find_by(emotion: emotion).id) %>
            <%= link_to "Blogs", content_path(:categoryx => "blog", :id => Mood.find_by(emotion: emotion).id) %>
            <%= link_to "Podcasts", content_path(:categoryx => "podcast", :id => Mood.find_by(emotion: emotion).id) %>
          </div>
        </div>
      </nav>
    <% end %>
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <div style="margin-top: 0;"><%= image_tag('oie_transparent.png', size: "230x100", style: "position: absolute;") %></div>
      </a>
    </div>
    <div id="nav">
      <table style="margin-left: 200px;">
        <tr>
          <td>
            <ul>
              <li class="nav_button">
                <button class="cbp-spmenu-button" data-target="cbp-spmenu-happy">Amazing!</button>
              </li>
              <li class="nav_button">
                <button  class="cbp-spmenu-button" data-target="cbp-spmenu-sad">Saddening!</button>
              </li>
              <li class="nav_button">
                <button class="cbp-spmenu-button" data-target="cbp-spmenu-anger">Fuming!</button>
              </li>
              <li class="nav_button">
                <button class="cbp-spmenu-button" data-target="cbp-spmenu-fear">Thrilling!</button>
              </li>
              <li class="nav_button">
                <button class="cbp-spmenu-button" data-target="cbp-spmenu-fear">Random?</button>
              </li>
            </ul>
          </td>
          <!-- <div class="pull-right"> -->
          <td>
            <ul class="right-wrapper">
              <% if signed_in? %>
                <li><%= current_user.username %> <span class="badge"><%= current_user.point %></span></li>
              <% else %>
                <li class="social-media"> <a data-toggle="modal" data-target="#loginModal"><i class="fa fa-user-circle-o" style="font-size:24px"></i></a></li>
              <% end%>
              <!-- <li class="social-media"> <i class="fa fa-search" style="font-size:24px"></i></li> -->
              <li class="social-media"> <i class="fa fa-youtube" style="font-size:24px"></i></li>
              <li class="social-media"> <i class="fa fa-twitter" style="font-size:24px"></i></li>
              <li class="social-media"> <i class="fa fa-facebook" style="font-size:24px"></i></li>
              <!--  -->
              <div class='dropdown' >
                <li class="social-media"><i class="fa fa-search" style="font-size:24px"></i></li>
                <div class="dropdown-content">
                  <%= form_tag search_path, :method => :post do %>
                    <%= label_tag(:q, "Search for:") %>
                    <%= text_field_tag(:q) %>
                    <%a = params[:controller]%>
                    <%b = params[:action]%>
                    <%c = params[:id]%>
                    <%= hidden_field_tag :x, a %>
                    <%= hidden_field_tag :y, b %>
                    <%= hidden_field_tag :z, c %>
                  <% end %>
                </div>
              </div>
            </td>
            <td>&emsp;&emsp;&emsp;</td>
            <td>
              <!--  -->
              <span style="float: right;"><% if signed_in? %>
                  <%= button_to 'Sign out', sign_out_path, method: :delete, class: "btn",id: "sign-out" %>
                <% else %>
                  <div id="flash">
                    <% flash.each do |key, value| %>
                      <div class="flash <%= key %>"><%= value %></div>
                    <% end %>
                  <% end %></span>
              </ul>
              <!-- </div>   -->
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</nav>  <!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
<script>
  var menuOpened
    menuButtons = document.getElementsByClassName("cbp-spmenu-button")
    showLeftPush = document.getElementById( 'showLeftPush' ),
    showRightPush = document.getElementById( 'showRightPush' ),
    body = document.body;
    for (var i = 0; i < menuButtons.length; i++) {
      menuButtons[i].onclick = function() {
        var menuTargetId = this.dataset.target
        if(menuOpened) {
          // its opened, clicked on the same button
          if(menuOpened.id === menuTargetId) {
            classie.toggle(menuOpened, 'cbp-spmenu-open')
            menuOpened = null
          } else {
            // its opened, clicked on a different button
            classie.toggle(menuOpened, 'cbp-spmenu-open')
            menuOpened = document.getElementById(menuTargetId)
            classie.toggle(menuOpened, 'cbp-spmenu-open')
          }
        } else {
          // closed
          menuOpened = document.getElementById(menuTargetId)
          classie.toggle(menuOpened, 'cbp-spmenu-open')
        }
        // document.body.onclick = function() {
        //   $('.cbp-spmenu-vertical').toggle()
        // }
      };
    }
  
  
  showTop.onclick = function() {
    classie.toggle( this, 'active' );
    classie.toggle( menuLeft, 'cbp-spmenu-open' );
    disableOther( 'showTop' );
  };
  showBottom.onclick = function() {
    classie.toggle( this, 'active' );
    classie.toggle( menuLeft, 'cbp-spmenu-open' );
    disableOther( 'showBottom' );
  };
   function disableOther( button ) {
    if( button !== 'showLeft' ) {
      classie.toggle( showLeft, 'disabled' );
    }
    if( button !== 'showRight' ) {
      classie.toggle( showRight, 'disabled' );
    }
    if( button !== 'showTop' ) {
      classie.toggle( showTop, 'disabled' );
    }
    if( button !== 'showBottom' ) {
      classie.toggle( showBottom, 'disabled' );
    }
  
  }
</script>
<%= yield %>
<%= render partial: '/welcome/modal' %>
</body>
</html>